<layout>
    <desktop>

    </desktop>
    <nav role="desktopBar" class="desktopBar">
        <ul class="primary-desktopBar">
            <li><button btn-id='dashboard.app'>Dashboard</button></li>
            <li><button btn-id='sys.imagine.settings'>Settings</button></li>
            <li><button btn-id='sys.imagine.files'>Files</button></li>
            <li><button btn-id='sys.imagine.browser'>Browser</button></li>
            <li><button btn-id='sys.imagine.clock'>Clock</button></li>
            <li><button btn-id='sys.imagine.calendar'>Calendar</button></li>
            <li><button btn-id='sys.imagine.notes'>Notes</button></li>
        </ul>
    </nav>
</layout>