app > layout {
    background: #fff;
}

app > layout > header {
    position: relative;
    float: left;
    height:50px;
    width:100%;
    background: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 30px;
    line-height: 50px;
    display: table-row;
}
header::before {
    position: absolute;
    background: #fff; /* #c2c2c2 */
    height: 30px;
    width: 100%;
    color: transparent;
    top: -0px;
    content: "«";
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}