header {
    background: transparent;
    padding-top: 0px;
}
header:before {
    background: transparent;
}

header > h1 {
    position: relative;
    float: left;
    margin-left: 15px;
    font-size: 2em;
    color: #fff;
}

ul {
    margin: 10px;
}

ul > li {
    display: inline-block;
}

ul > li > button {
    position: relative;
    float: left;
    margin: 5px;
    width: 80px;
    height: 80px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    outline: 0;
    border: 1px solid #fff;
    transition:border .5s ease-out, background .5s ease-in;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 56px 56px;
}

ul > li > button:active {
    opacity: 0.5;
    background-size: 64px 64px;
    border-color: dodgerblue;
}